<a href="https://colab.research.google.com/github/yashvyas1405/SQLZOO-MORE-JOIN-/blob/main/MORE_JOIN_Sqlzoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLZOO More join Problems

Obtain the cast list for 'Casablanca'.

In [ ]:
select name
from actor join casting
on actor.id = casting.actorid
where casting.movieid = 11768

Obtain the cast list for the film 'Alien'

In [ ]:
select actor.name
from actor 
join casting
on actor.id = casting.actorid
join movie
on casting.movieid = movie.id
where movie.title = 'Alien'

List the films in which 'Harrison Ford' has appeared

In [ ]:
select movie.title
from movie
join casting on movie.id = casting.movieid
join actor on casting.actorid = actor.id
where actor.name = 'Harrison Ford'

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [ ]:
select movie.title
from movie
join casting on movie.id = casting.movieid
join actor on casting.actorid = actor.id
where actor.name = 'Harrison Ford' and ord!=1

List the films together with the leading star for all 1962 films.

In [ ]:
select movie.title, actor.name
from movie
join casting on movie.id = casting.movieid
join actor on casting.actorid = actor.id
where movie.yr = 1962 and casting.ord=1

Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [ ]:
SELECT yr,COUNT(title) FROM
  movie JOIN casting ON movie.id=movieid
        JOIN actor   ON actorid=actor.id
WHERE actor.name='Rock Hudson'
GROUP BY yr
HAVING COUNT(title) > 2

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

In [ ]:
select movie.title, actor.name
from movie 
join casting on movie.id = casting.movieid and ord=1 
join actor on casting.actorid = actor.id
where casting.movieid in (select casting.movieid
                          from casting
                          join actor on actor.id = casting.actorid
                          where actor.name = 'Julie Andrews')

Obtain a list, in alphabetical order, of actors who've had at least 15 starring roles.

In [ ]:
select actor.name
from actor
join casting on (casting.actorid = actor.id and (select count(casting.ord) from casting where actor.id = casting.actorid and ord = 1)>=15)
group by actor.name

List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [ ]:
select movie.title, count(actorid)
from movie
join casting on movie.id = casting.movieid
where movie.yr = 1978
group by movie.title
order by count(actorid) desc, movie.title asc

List all the people who have worked with 'Art Garfunkel'.

In [ ]:
select distinct(actor.name)
from actor
join casting on actor.id = casting.actorid
where movieid in(select movieid
                  from casting
                  join actor on casting.actorid = actor.id 
                  where actor.name = 'Art Garfunkel')
and actor.name != 'Art Garfunkel'